    <div *ngIf="showUsers === false" class="container">
      </div>
      <div *ngIf="showUsers === true" class="global">
        <div *ngFor="let users of userService.users">
        <div class="card align-middle">
          <h5 class="card-title text-info text-center">{{ users.name }}</h5>
          <h5 class="text-info text-center">{{ users.city }}</h5>
          <div>
              <button 
              class="btn btn-white btn-animated">
              VISIT
            </button>            
            </div>

          <rb-avatar class="avatar w-75" [user]="users"></rb-avatar>
          </div>
        </div>