<div class="header-container">
		<header class="header">
			<div class="text-box d-flex align-items-center">
			<h1 class="heading-primary d-flex align-items-center">
				<rb-avatar class="avatar" [user]="this.userService?.currentUser"></rb-avatar>
				<span class="heading-primary-main text-dark">Visit other libraries<span class="heading-primary-sim">/</span></span>
				<span class="heading-primary-sub" > </span>
			</h1>
			<button id="popup"
			class="btn btn-white btn-animated text-info" routerLink="/wall" >MY LIBRARY</button>			

		</div>
	</header>
	</div>